{% extends "base.html" %}

{% block content %}


<!-- Header Section -->
<div class="container">
    <header class="row">
        <!-- Header Image -->
        <div class="col-12 col-md-6">
            <img src="../../static/images/plant_love_community.png" alt="Hero Header Image" class="header image">
        </div>

        <div class="col-12 col-md-6" id="header-text">
            <h2>We're building a community...</h2>
            <h5>One plant lover at a time!</h5>
        </div>

    </header>
    <!--End of our header section-->

    
    <!-- Start of middle section -->
    <section>
        <div class="container text-center">
            <div class="row row-cols-2">
                
                <div class="col">
                <img src="../../static/images/plant_love_display.png" class="icon-images">
                <h2>Display Your Collection!</h2>
                <p>Show off your plant babies.</p>
                <p>Plants are so much more than decor!</p>
                </div>

                <div class="col">
                <img src="../../static/images/plan_love_bloomin.png" class="icon-images">
                <h2>Love plants for who they are?</h2>
                <p>Did you go from having that one plant to a house full?</p>
                <p>Just love to watch them bloom?</p>
                <p>Love the rewarding feeling of keeping them alive?</p>
                </div>

                <div class="col">
                <img src="../../static/images/plant_love_heal.png" class="icon-images">
                <h2>Plants can inspire.</h2>
                <p>Do you find your mood lifted as soon as you enter your plant sanctuary?</p>
                <p>There's a community for you too!</p>
                <p>Share your thoughts on our Blog!</p>
                </div>

                <div class="col">
                <img src="../../static/images/plant_love_display.png" class="icon-images">
                <h2>Plants can heal.</h4>
                <p>Love plants for their homeopathic uses?</p>
                <p>Show us the true power of plants...</p>
                <p>Share those home remedies & recipies with the world!</p>
                </div>

            </div>
        </div>
    </section>




    <!-- Begin Community Section -->
    <section class="row">
        <div class="col-12 col-md-6">
            <img src="../../static/images/plant_love_connect.png" alt="Drone Image" id="Drone-image">
        </div>

        <div class="col-12 col-md-6">
            <h4>Connect with like minded plant lovers</h4>
            <p>Spread the Love!</p>
            <div>
                <button class="btn btn-primary">Subscribe on YouTube!</button>
                <button class="btn btn-primary">Join Our Discord!</button>
            </div>
        </div>
    </section>
    <!--End of Community Section-->
    <!-- End of Middle Section -->

    <!-- Start of Footer -->
    <footer class="row" id="footer">
        <div class="col-3 col-md-3">
            <img src="../../static/images/plant_love_social.png" alt="Coding Drones Logo" id="footer-logo">
        </div>

        <div class="col-3 col-md-3">
            <div class="footer-text-flex">
                <h4>Follow Us!</h4>
                <p>Instagram</p>
                <p>Tiktok</p>
                <p>Facebook</p>
            </div>
        </div>

        <div class="col-3 col-md-3">
            <div class="footer-text-flex">
                <h4>Why Plant Love?</h4>
                <p>Our Philosophy</p>
                <p>Our Mission</p>
                <p>Our Process</p>
            </div>
        </div>

        <div class="col-3 col-md-3">
            <div class="footer-text-flex">
                <h4>Our Partners</h4>
                <p>CT Greenhouse</p>
                <p>Temple Garden Center</p>
                <p>Green Code</p>
            </div>
        </div>
    </footer>
</div>
    


{% endblock content %}